{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<title>Poker Web App</title>
<body>Poker Table</body>

<div class="wrapper">
    <div class="one">{{ p1 }}</div>
    <div class="two">{{ p2 }}</div>
    <div class="three">{{ p3 }}</div>
    <div class="four">{{ p4 }}</div>
    <div class="five">{{ p5 }}</div>
    <div class="six">{{ p6 }}</div>
    <div class="seven">{{ p7 }}</div>
    <div class="eight">{{ p8 }}</div>
</div>

<form action='start_game' method='GET'>
    <button type='submit'> Start Game</button>
</form>